{extend name="public/base"/}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>天一美膳分享二维码(分享给公司员工)</h2>
		</div>
	</header>
	<form class="form form-horizontal" action="" method="post" enctype="multipart/form-data" >
		<div class="form-group">
			<label class="col-lg-2 control-label">分享原链接：</label>
			<div class="col-lg-6 col-sm-10">
				<img src="{$qr}" alt="">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">分享原链接：</label>
			<div class="col-lg-6 col-sm-10">
				你好
			</div>
		</div>

	</form>
</div>
{/block}