{extend name="public/base"/}
{block name="body"}
<body class="root grey-bg">
<div class="coupon-wrap">
	<div class="coupon-top">
		<div class="coupon-cabin">
			<div class="coupon-left">
				￥3
			</div>
			<div class="coupon-right">
				<p class="coupon-num">7898 1123 456 5689</p>
				<p>花艺美发3元代币券</p>
				<p>使用平台 : 花艺美容美发</p>
			</div>
		</div>
		<div class="coupon-cabin disabled">
			<div class="coupon-left">
				￥3
			</div>
			<div class="coupon-right">
				<p class="coupon-num">7898 1123 456 5689</p>
				<p>花艺美发3元代币券</p>
				<p>使用平台 : 花艺美容美发</p>
			</div>
		</div>
	</div>
	<ul class="common-list coupon-list">
		<li class="common-item">
			<div class="common-left">
				代金券金额
			</div>
			<div class="common-body">
				<input type="text" placeholder="填写代金券金额" />
			</div>
		</li>
		<li class="common-item">
			<div class="common-left">
				代金券名称
			</div>
			<div class="common-body">
				<input type="text" placeholder="填写代金券金额" />
			</div>
		</li>
		<li class="common-item">
			<div class="common-left">
				商家名称
			</div>
			<div class="common-body">
				<input type="text" placeholder="填写代金券金额" />
			</div>
		</li>
		<li class="common-item">
			<div class="common-left">
				活动图片
			</div>
			<div class="common-body">
				<div class="img-list-wrap"></div>
				<span class="upload-img-wrap">&nbsp;</span>
			</div>
		</li>
	</ul>
	<div class="btn-wrap">
		<button class="btn-submit">确认</button>
	</div>
</div>

<script src="__JS__/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="__JS__/webuploader.html5only.min.js"></script>
<script type="text/javascript">
    $(function () {

        // 优化retina, 在retina下这个值是2
        var ratio = window.devicePixelRatio || 1,

            // 缩略图大小
            thumbnailWidth = 100 * ratio,
            thumbnailHeight = 100 * ratio;

        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: '/js/Uploader.swf',

            // 文件接收服务端。
            server: 'test.php',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: {
                id: '.upload-img-wrap',
                multiple: false
            },

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on( 'uploadSuccess', function( file ) {

            var $img = $('<img class="thum-img" />');

            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );

            $('.img-list-wrap').empty().append($img);

        });

        // 文件上传失败，显示上传出错。
        uploader.on( 'uploadError', function( file ) {

            //alert('上传失败');


            var $img = $('<img class="thum-img" />');

            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );

            $('.img-list-wrap').empty().append($img);

        });
    });
</script>
</body>
{/block}
