{extend name="public/base"/}
{block name="body"}
<bode class="root">
<header class="center-header center01" style="background: #fff url({:get_cover($users_type['backimg'],'path')}) no-repeat center top / 100% 110px">
	<a class="iconfont icon-houtui"></a>
	<h1 class="user-thum">
		<img src="{$user.head_pic}"/>
		<p>{$user.nickname}</p>
	</h1>
	<a class="iconfont icon-erweima"></a>
</header>
<div class="center-content" style="background: #fff;">
	<div class="income-wrap clearfix">
		<span class="fl">今日收入:<strong>2053</strong></span>
		<span class="fr">本周收入:<strong>26989</strong></span>
	</div>
	<div class="content-wrap">
		<div class="com-wrap user-panel">
			<div class="user-cell">
				<span>756</span>
				<p>分享量</p>
			</div>
			<div class="user-cell">
				<span>1234</span>
				<p>已下单</p>
			</div>
			<div class="user-cell">
				<span>456</span>
				<p>已付款</p>
			</div>
		</div>
		<div class="com-wrap menu-panel">
            <ul class="table-view">
                <!--  公司员工个人中心页面 -->
                {if $user.users_type eq 1}
                    <li class="table-view-cell">
                        <a href="wallet.html" class="navigate-right"><img src="__IMG__/icon05.png"/>我的钱包</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="order-details2.html" class="navigate-right"><img src="__IMG__/icon03.png"/>查看订单</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="sharelog.html" class="navigate-right"><img src="__IMG__/icon07.png"/>分享记录</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="share.html" class="navigate-right"><img src="__IMG__/icon01.png"/>我要分享</a>
                    </li>
                {/if}

                <!--  美容院个人中心页面 -->
                {if $user.users_type eq 2}
                    <li class="table-view-cell">
                        <a href="{:url('wallet')}" class="navigate-right"><img src="__IMG__/icon05.png"/>我的钱包</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="{:url('storeinfo')}" class="navigate-right"><img src="__IMG__/icon06.png"/>我的店铺</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="{:url('beautycoupons')}" class="navigate-right"><img src="__IMG__/icon04.png"/>优惠券</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="{:url('sharemanage')}" class="navigate-right"><img src="__IMG__/icon08.png"/>分享管理</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="{:url('staffmanage')}" class="navigate-right"><img src="__IMG__/icon09.png"/>员工管理</a>
                    </li>
                {/if}

                <!--  美容师个人中心页面 -->
                {if $user.users_type eq 3}
                    <li class="table-view-cell">
                        <a href="{:url('wallet')}" class="navigate-right"><img src="__IMG__/icon05.png"/>我的钱包</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="{:url('sharelog')}" class="navigate-right"><img src="__IMG__/icon07.png"/>分享记录</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="{:url('share')}" class="navigate-right"><img src="__IMG__/icon01.png"/>我要分享</a>
                    </li>
                {/if}

                <!--  顾客个人中心页面 -->
                {if $user.users_type eq 4}
                    <li class="table-view-cell">
                        <a href="wallet.html" class="navigate-right"><img src="__IMG__/icon05.png"/>我的钱包</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="order-details2.html" class="navigate-right"><img src="__IMG__/icon03.png"/>我的订单</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="coupon2.html" class="navigate-right"><img src="__IMG__/icon04.png"/>我的优惠券</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="shop.html" class="navigate-right"><img src="__IMG__/icon06.png"/>服务商家</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="news.html" class="navigate-right"><img src="__IMG__/icon02.png"/>百问百答</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="share.html" class="navigate-right"><img src="__IMG__/icon01.png"/>我要分享</a>
                    </li>
                    <li class="table-view-cell">
                        <a href="sharelog.html" class="navigate-right"><img src="__IMG__/icon07.png"/>分享记录</a>
                    </li>
                {/if}
			</ul>





		</div>
	</div>
</div>
<script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
</bode>
{/block}