{extend name="public/base"/}
{block name="body"}
<body class="root grey-bg">
<div class="coupon-wrap">
	<div class="coupon-top" style="padding-bottom: 0;" >
		<div class="coupon-cabin" onclick="location.href='coupon2.html'">
			<div class="coupon-left">
				￥3
			</div>
			<div class="coupon-right">
				<p class="coupon-num">7898 1123 456 5689</p>
				<p>花艺美发3元代币券</p>
				<p>使用平台 : 花艺美容美发</p>
			</div>
		</div>
	</div>
</div>

<script src="__JS__/jquery-3.2.1.min.js" type="text/javascript"></script>
</body>
{/block}
