{extend name="public/base"/}
{block name="body"}
<link rel="stylesheet" type="text/css" href="__CSS__/swiper-3.3.1.min.css"/>
<body class="root grey-bg">
<div class="news-wrap">
	<div class="news-banner">
		<!-- Swiper -->
		<div id="banner" class="swiper-container">
			<div class="swiper-wrapper">
				{:ad('banner')}
				<!--<a href="#" class="swiper-slide"><img src="__IMG__/banner.jpg"/></a>-->
				<!--<a href="#" class="swiper-slide"><img src="__IMG__/banner.jpg"/></a>-->
				<!--<a href="#" class="swiper-slide"><img src="__IMG__/banner.jpg"/></a>-->
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div id="topNav" class="swiper-container">
		<div class="swiper-wrapper">
			{volist name="category" id="cat"}
			<div class="swiper-slide {if input('id') == $cat.id} active {/if}">
				<a href="{:url('member/news',array('id'=>$cat.id))}">
					<img src="{:get_cover($cat.icon,'path')}" alt="" />
					<div class="swiper-mask">
						{$cat.title}
					</div>
				</a>
			</div>
			{/volist}
		</div>
	</div>
	<div class="news-list">
		{volist name="article" id="ar"}
		<a href="{:url('index/member/newsdetail',array('id'=>$ar.id))}" class="news-item">
			<div class="news-content">
				<h2>{$ar.title}</h2>
				<p><i>{:get_category_name($ar.category_id)}</i><span>{$ar.create_time|date='Y-m-d H:i:s',###}</span><span><img src="__IMG__/icon-eyes.png"/>{$ar.view}</span></p>
			</div>
			<img class="news-img" src="{:get_cover($ar.cover_id,'path')}" alt="" />
		</a>
		{/volist}
	</div>
</div>

<script src="__JS__/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="__JS__/swiper-3.3.1.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var bannerSwiper = new Swiper('#banner', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            loop: true
        });
    });
</script>
<script type="text/javascript">
    var mySwiper = new Swiper('#topNav', {
        freeMode: true,
        freeModeMomentumRatio: 0.5,
        slidesPerView: 'auto'
    });
</script>
</body>
{/block}