{extend name="public/base"/}
{block name="body"}
	<body class="root grey-bg">
		<div class="order-wrap">
			<ul class="order-list">
				<li class="order-item" onclick="location.href = 'order-details.html'">
					<span class="order-num">1.</span>
					<img class="order-user-img" src="__IMG__/user.jpg" />
					<div class="order-user-info">
						<h2 class="order-title">恋鱼的猫</h2>
						<p class="order-time">2015-08-19</p>
					</div>
					<div class="order-check-wrap">
						<a class="check-btn" href="javacript:;">核销</a>
					</div>
				</li>
				<li class="order-item">
					<span class="order-num">2.</span>
					<img class="order-user-img" src="__IMG__/user.jpg" />
					<div class="order-user-info">
						<h2 class="order-title">恋鱼的猫</h2>
						<p class="order-time">2015-08-19</p>
					</div>
					<div class="order-check-wrap checked">
						<img src="__IMG__/user.jpg" />
					</div>
				</li>
				<li class="order-item">
					<span class="order-num">3.</span>
					<img class="order-user-img" src="__IMG__/user.jpg" />
					<div class="order-user-info">
						<h2 class="order-title">恋鱼的猫</h2>
						<p class="order-time">2015-08-19</p>
					</div>
					<div class="order-check-wrap">
						<a class="check-btn" href="javacript:;">核销</a>
					</div>
				</li>
				<li class="order-item">
					<span class="order-num">4.</span>
					<img class="order-user-img" src="__IMG__/user.jpg" />
					<div class="order-user-info">
						<h2 class="order-title">恋鱼的猫</h2>
						<p class="order-time">2015-08-19</p>
					</div>
					<div class="order-check-wrap">
						<a class="check-btn" href="javacript:;">核销</a>
					</div>
				</li>
				<li class="order-item">
					<span class="order-num">5.</span>
					<img class="order-user-img" src="__IMG__/user.jpg" />
					<div class="order-user-info">
						<h2 class="order-title">恋鱼的猫</h2>
						<p class="order-time">2015-08-19</p>
					</div>
					<div class="order-check-wrap">
						<a class="check-btn" href="javacript:;">核销</a>
					</div>
				</li>
			</ul>
		</div>
		<a class="btn-bottom" href="javascript:;">导出名单</a>
		
		<script src="__JS__/jquery-3.2.1.min.js" type="text/javascript"></script>
		<script src="__JS__/webuploader.html5only.min.js"></script>
		<script type="text/javascript">
			$(function () {
				
				// 优化retina, 在retina下这个值是2
		    var ratio = window.devicePixelRatio || 1,

	        // 缩略图大小
	        thumbnailWidth = 100 * ratio,
	        thumbnailHeight = 100 * ratio;   
		        
				var uploader = WebUploader.create({

					// 选完文件后，是否自动上传。
  					auto: true,

  					// swf文件路径
  					swf: '/__JS__/Uploader.swf',
			
			    // 文件接收服务端。
			    server: 'test.php',
			
			    // 选择文件的按钮。可选。
			    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
			    pick: {
			    		id: '.check-btn',
			    		multiple: false
			    },
			
			    // 只允许选择图片文件。
			    accept: {
		        title: 'Images',
		        extensions: 'gif,jpg,jpeg,bmp,png',
		        mimeTypes: 'image/*'
			    }
				});
				
				// 文件上传成功，给item添加成功class, 用样式标记上传成功。
				uploader.on( 'uploadSuccess', function( file ) {
				    
			    var $img = $('<img />');
			    
			    uploader.makeThumb( file, function( error, src ) {
		        if ( error ) {
	            $img.replaceWith('<span>不能预览</span>');
	            return;
		        }
			
			      $img.attr( 'src', src );
			    }, thumbnailWidth, thumbnailHeight );
				 
				  var uploaderId = '#rt_'+file.source.ruid;
				  $(uploaderId).parent().parent().addClass('checked').empty().append($img);
				  
				});
				
				// 文件上传失败，显示上传出错。
				uploader.on( 'uploadError', function( file ) {
					
				  //alert('上传失败');
				  
				  
				  var $img = $('<img />');
			    
			    uploader.makeThumb( file, function( error, src ) {
		        if ( error ) {
	            $img.replaceWith('<span>不能预览</span>');
	            return;
		        }
			
			      $img.attr( 'src', src );
			    }, thumbnailWidth, thumbnailHeight );
				 
				  var uploaderId = '#rt_'+file.source.ruid;
				  $(uploaderId).parent().parent().addClass('checked').empty().append($img);
				
				});
			});
		</script>
	</body>
{/block}
