{extend name="public/base"/}
{block name="body"}
<body class="root grey-bg">
<div class="customer-wrap">
	<ul class="order-list customer-list delete-list">
		<li class="order-item">
			<img class="order-user-img" src="__IMG__/user.jpg" />
			<div class="order-user-info">
				<h2 class="order-title">恋鱼的猫</h2>
			</div>
			<div class="order-check-wrap">
				<span class="cus-num">￥489</span>
			</div>
			<img class="order-delete-img" src="__IMG__/delete.png" />
		</li>
		<li class="order-item">
			<img class="order-user-img" src="__IMG__/user.jpg" />
			<div class="order-user-info">
				<h2 class="order-title">恋鱼的猫</h2>
			</div>
			<div class="order-check-wrap">
				<span class="cus-num">￥489</span>
			</div>
			<img class="order-delete-img" src="__IMG__/delete.png" />
		</li>
		<li class="order-item">
			<img class="order-user-img" src="__IMG__/user.jpg" />
			<div class="order-user-info">
				<h2 class="order-title">恋鱼的猫</h2>
			</div>
			<div class="order-check-wrap">
				<span class="cus-num">￥489</span>
			</div>
			<img class="order-delete-img" src="__IMG__/delete.png" />
		</li>
		<li class="order-item">
			<img class="order-user-img" src="__IMG__/user.jpg" />
			<div class="order-user-info">
				<h2 class="order-title">恋鱼的猫</h2>
			</div>
			<div class="order-check-wrap">
				<span class="cus-num">￥489</span>
			</div>
			<img class="order-delete-img" src="__IMG__/delete.png" />
		</li>
		<li class="order-item">
			<img class="order-user-img" src="__IMG__/user.jpg" />
			<div class="order-user-info">
				<h2 class="order-title">恋鱼的猫</h2>
			</div>
			<div class="order-check-wrap">
				<span class="cus-num">￥489</span>
			</div>
			<img class="order-delete-img" src="__IMG__/delete.png" />
		</li>
		<li class="order-item">
			<img class="order-user-img" src="__IMG__/user.jpg" />
			<div class="order-user-info">
				<h2 class="order-title">恋鱼的猫</h2>
			</div>
			<div class="order-check-wrap">
				<span class="cus-num">￥489</span>
			</div>
			<img class="order-delete-img" src="__IMG__/delete.png" />
		</li>
		<li class="order-item">
			<img class="order-user-img" src="__IMG__/user.jpg" />
			<div class="order-user-info">
				<h2 class="order-title">恋鱼的猫</h2>
			</div>
			<div class="order-check-wrap">
				<span class="cus-num">￥489</span>
			</div>
			<img class="order-delete-img" src="__IMG__/delete.png" />
		</li>
		<li class="order-item">
			<img class="order-user-img" src="__IMG__/user.jpg" />
			<div class="order-user-info">
				<h2 class="order-title">恋鱼的猫</h2>
			</div>
			<div class="order-check-wrap">
				<span class="cus-num">￥489</span>
			</div>
			<img class="order-delete-img" src="__IMG__/delete.png" />
		</li>
	</ul>
</div>

<script src="__JS__/jquery-3.2.1.min.js" type="text/javascript"></script>
<script>
    $(function() {
        // 点击删除
        $('.order-item .order-delete-img').click(function() {
            var oLi = $(this).parent('.order-item');
            var r = confirm('您确定要删除该员工吗？');
            if (r) {
                // 移除元素节点
                oLi.remove();
            }
        });
    })
</script>
</body>
{/block}
