{extend name="public/base"/}
{block name="body"}
<body class="root grey-bg">
<div class="edits-wrap">
	<form class="edits-wrap" action="{:url('member/storeinfo')}" method="post" id="storeinfo">
		<div class="form-group-wrap">
			<div class="form-group-element">
				<strong>店铺名称</strong>
				<input type="text" name="name" value="{$info.name}"/>
			</div>
			<div class="form-group-element">
				<strong>店铺描述</strong>
				<input type="text" name="description" value="{$info.description}"/>
			</div>
			<div class="form-group-element form-group-upload">
				<strong>店铺封面</strong>
				<a id="filePicker" class="upload-btn">&nbsp;</a>
			</div>
			<div class="upload-wrap">
				<ul id="thumb_list" class="thumb-img-list clearfix">
					{volist name="imagesarr" id="vo"}
					<li><span class="pic-close" s_file="{$vo}"></span><img src="<?php echo SITE_URL;?>/{$vo}"/></li>
					{/volist}
				</ul>
			</div>
		</div>
		<div class="form-group-wrap">
			<div class="form-group-element">
				<strong>联系人</strong>
				<input type="text" name="contact" value="{$info.contact}" />
			</div>
			<div class="form-group-element">
				<strong>联系方式</strong>
				<input type="text" name="phone" value="{$info.phone}" />
			</div>
		</div>
		<div class="form-group-wrap">
			<div class="form-group-element">
				<strong>地址</strong>
				<input type="text" name="address" value="{$info.address}" />
			</div>
		</div>
	</form>
</div>
<a class="btn-bottom" href="javascript:;">提交</a>

<script src="__JS__/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="__JS__/webuploader.html5only.min.js"></script>
<script type="text/javascript">
    $(function(){
        var $list = $('#thumb_list'),
            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,

            // 缩略图大小
            thumbnailWidth = 110 * ratio,
            thumbnailHeight = 110 * ratio,
            // WebUploader实例
            uploader;

        //上传图片
        uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: '/__JS__/Uploader.swf',

            // 文件接收服务端。
            server: "{:url('member/upload_img')}",

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });

        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {
            var $li = $(
                    '<li id="' + file.id + '">' +
                    '<span class="pic-close"></span>' +
                    '<img>' +
                    '</li>'
                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list.append( $li );

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );

            $li.on( 'click', '.pic-close', function() {
                var s_file = $(this).attr('s_file');
                $.post('{:url("delImg")}',{file:s_file},function(res){
                    uploader.removeFile( file );
                });
            });

        });

        // 文件上传成功
        uploader.on( 'uploadSuccess', function( file ,res) {
            $('#'+file.id).find('.pic-close').attr('s_file',res._raw);
        });

        // 文件上传失败，显示上传出错。
        uploader.on( 'uploadError', function( file ,res) {
            alert('上传失败：'+file);
        });

        uploader.onFileDequeued = function( file ) {
            removeFile( file );
        };

        // 负责view的销毁
        function removeFile( file ) {
            var $li = $('#'+file.id);
            $li.off().find('.pic-close').off().end().remove();
        }

    });

    $('.pic-close').click(function(){
        var s_file = $(this).attr('s_file');
        var _this = $(this);
        $.post('{:url("delImg")}',{file:s_file},function(res){
            _this.parent('li').remove();
        });
    });

    $('.btn-bottom').click(function () {
        $('#storeinfo').submit();
    });
</script>
</body>
{/block}
