html,
body {
	height: 100%;
}

#main {
	width: 100%;
	min-height: 100%;
	position: relative;
	height: 100%;
	overflow: hidde;
}

#content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.swiper-container {
	width: 100%;
}

.swiper-container .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
}

.swiper {
	height: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
	float: left
}

.swiper-container-vertical>.swiper-wrapper {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto
}

.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
	height: auto
}

.swiper-container-autoheight .swiper-wrapper {
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-transition-property: -webkit-transform, height;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform, height
}

.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000
}

.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y
}

.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
	touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 27px;
	height: 44px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	-moz-background-size: 27px 44px;
	-webkit-background-size: 27px 44px;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat
}

.swiper .slide1 {
  background: url(../img/slide1-bg.jpg) no-repeat center top;
  background-size: cover;
}
.swiper .slide2 {
  background: url(../img/slide2-bg.jpg) no-repeat center top;
  background-size: cover;
}
.swiper .slide3 {
  background: url(../img/slide3-bg.jpg) no-repeat center top;
  background-size: cover;
}
.swiper .slide01 {
  background: url(../img/slide01-bg.jpg) no-repeat center top;
  background-size: cover;
}
.swiper .slide02 {
  background: url(../img/slide02-bg.jpg) no-repeat center top;
  background-size: cover;
}
.swiper .slide03 {
  background: url(../img/slide03-bg.jpg) no-repeat center top;
  background-size: cover;
}
/*.swiper .s1 {
  background: url(../img/share1.jpg) no-repeat center top;
  background-size: cover;
}
.swiper .s2 {
  background: url(../img/share2.jpg) no-repeat center top;
  background-size: cover;
}
.swiper .s3 {
  background: url(../img/share3.jpg) no-repeat center top;
  background-size: cover;
}*/
.tese .swiper-slide {
	width: 70%;
	box-shadow: 0 0 20px #aaa;
}
.tese .swiper-slide img {
	width: 100%;
	height: 100%;
}
.share-top,
.share-bottom {
	font-size: .3rem;
	color: #666;
	display: flex;
	align-items: center;
	justify-content: center;
}
.share-top span,
.share-bottom span {
	font-size: .3rem;
}
.share-bottom {
	color: #4a7ef4;
}
.hidden {
	display: none;
}

.animate {
	position: absolute;
	left: 0;
	bottom: .7rem;
	width: 100%;
	color: #fff;
	display: -moz-box;
}

.animate .swiper-buy,
.animate .swiper-index {
	color: #010101;
	line-height: .74rem;
	padding: 0 .4rem;
	text-align: left;
}
.animate .swiper-buy {
	text-align: center;
}

.animate .swiper-buy h2,
.animate .swiper-index h2 {
	font-size: .60rem;
	margin-top: .16rem;
	margin-bottom: .16rem;
}

.animate .swiper-buy p,
.animate .swiper-buy h3,
.animate .swiper-index h3 {
	font-size: .48rem;
}

.animate .swiper-index p {
	font-size: .4rem;
}

.animated {
	-webkit-animation-duration: 1s;
	-webkit-animation-play-state: paused;
	-webkit-animation-fill-mode: both;
}

.guide-show .bounceInUp {
  animation-name: bounceInUp;
  -webkit-animation-play-state: running;
	-webkit-animation-delay: .5s;
	display: block;
}

.guide-show .bounceInDown {
	-webkit-animation-name: bounceInDown;
	-webkit-animation-play-state: running;
	-webkit-animation-delay: .5s;
	display: block;
}

.guide-show .bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	display: block;
	-webkit-animation-play-state: running;
}

.guide-show .bounceInRight {
	-webkit-animation-name: bounceInRight;
	display: block;
	-webkit-animation-play-state: running;
	-webkit-animation-delay: 0.5s;
}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 3px, 0);
		transform: translate3d(0, 3px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes bounceInLeft {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0, 0);
		transform: translate3d(-3000px, 0, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0);
	}
	75% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	90% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes bounceInRight {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0);
	}
	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}