{extend name="public/base"/}
{block name="body"}
<div class="wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
    <!-- Main content -->
    <!--<div class="container-fluid">-->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="border:0">
                <h3 class="panel-title" style="border:0"><i class="fa fa-list"></i> 会员信息</h3>
            </div>
            <div class="panel-body">
                <form action="" method="post">
                    <input type="hidden" name="user_id" value="{$user.user_id}">
                    <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="col-sm-2">会员昵称:</td>
                        <td >{$user.nickname}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>会员头像:</td>
                        <td>
                            {if $user.head_pic neq ''}<img src="{$user.head_pic}" alt="" width="100px;" height="100px;">{else} 无头像 {/if}
                        </td>
                        <td></td>
                    </tr>
                    {if $user.real_name neq ''}
                    <tr>
                        <td class="col-sm-2">真实姓名:</td>
                        <td >{$user.real_name}</td>
                        <td></td>
                    </tr>
                    {/if}
                    <tr>
                        <td>注册时间:</td>
                        <td>
                            {$user.reg_time|date='Y-m-d H:i:s',###}
                        </td>
                        <td></td>
                    </tr>
                    {if $user.present_weight neq ''}
                    <tr>
                        <td>目前体重:</td>
                        <td>
                            {$user.present_weight}&nbsp;kg
                        </td>
                        <td></td>
                    </tr>
                    {/if}
                    {if $user.target_weight neq ''}
                    <tr>
                        <td>目标体重:</td>
                        <td>
                            {$user.target_weight}&nbsp;kg
                        </td>
                        <td></td>
                    </tr>
                    {/if}
                    {if $user.mobile neq ''}
                    <tr>
                        <td>手机:</td>
                        <td>
                            <input type="text" class="form-control" name="mobile" value="{$user.mobile}">
                        </td>
                        <td></td>
                    </tr>
                    {/if}
                    <tr>
                        <td class="col-sm-2">会员类型:</td>
                        <td >
                            <select name="users_type">
                                <option value="">请选择会员类型</option>
                                {volist name="data" id="ut"}
                                <option value="{$ut.id}" {if $user.users_type eq $ut.id} selected {/if}>{$ut.name}</option>
                                {/volist}
                            </select>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="col-sm-2">会员等级:</td>
                        <td >
                            <select name="level">
                                <option value="">请选择会员等级</option>
                                {volist name="data" id="ut"}
                                <option value="{$ut.id}" {if $user.level eq $ut.id} selected {/if}>{$ut.name}</option>
                                {/volist}
                            </select>
                        </td>
                        <td></td>
                    </tr>


                    <tr>
                        <td>是否为分销商:</td>
                        <td>
                            <input name="is_distribut" type="radio" value="1" {if condition="$user['is_distribut'] eq 1"}checked{/if} >是
                            <input name="is_distribut" type="radio" value="0" {if condition="$user['is_distribut'] eq 0"}checked{/if} >否
                        </td>
                        <td></td>
                    </tr>




                    <tr>
                        <td></td>
                        <td>
                            <button type="" class="btn btn-info">
                                <i class="ace-icon fa fa-check bigger-110"></i> 保存
                            </button>
                            <a href="{:url('member/index')}" data-toggle="tooltip" title="" class="btn btn-default pull-right" data-original-title="返回"><i class="fa fa-reply"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </form>

            </div>
        </div>
 	  </div> 
    </div>    <!-- /.content -->
   </section>
</div>
<script>

</script>

</body>
{/block}