{extend name="public/base"/}
{block name="body"}
<div class="wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <!-- Main content -->
        <!--<div class="container-fluid">-->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="border:0">
                        <h3 class="panel-title" style="border:0"><i class="fa fa-list"></i> 用户信息</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="post">
                            <input type="hidden" name="user_id" value="{$user.user_id}">
                            <table class="table table-bordered">
                                <tbody>

                                <!--公司员工详细信息-->
                                {if $user.users_type eq 1}
                                    <tr>
                                        <td class="col-sm-2">用户昵称:</td>
                                        <td >{$user.nickname}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>用户头像:</td>
                                        <td>
                                            {if $user.head_pic neq ''}<img src="{$user.head_pic}" alt="" width="100px;" height="100px;">{else} 无头像 {/if}

                                        </td>
                                        {if $user.nickname neq ''}
                                        <td>分享二维码</td>
                                        <td>
                                            {if $user.qr neq ''}<img src="{$user.qr}" alt="" width="100px;" height="100px;">{else} 无分享二维码 {/if}
                                        </td>
                                        {/if}
                                    </tr>
                                    {if $user.real_name neq ''}
                                    <tr>
                                        <td class="col-sm-2">真实姓名:</td>
                                        <td >{$user.real_name}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                    <tr>
                                        <td>注册时间:</td>
                                        <td>
                                            {$user.reg_time|date='Y-m-d H:i:s',###}
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">会员类型:</td>
                                        <td >
                                            {$users_type[$user['users_type']]['name']}{if $user.users_type eq '2'}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('beautydetail',array('id'=>$user['user_id']))}">美容院资料</a>{/if}
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {if $user.mobile neq ''}
                                    <tr>
                                        <td>手机:</td>
                                        <td>
                                            <input type="text" class="form-control" name="mobile" value="{$user.mobile}">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                {/if}

                                <!--美容院详细信息-->
                                {if $user.users_type eq 2}
                                    <tr>
                                        <td class="col-sm-2">用户昵称:</td>
                                        <td >{$user.nickname}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>用户头像:</td>
                                        <td>
                                            {if $user.head_pic neq ''}<img src="{$user.head_pic}" alt="" width="100px;" height="100px;">{else} 无头像 {/if}

                                        </td>
                                        {if $user.nickname neq ''}
                                        <td>分享二维码</td>
                                        <td>
                                            {if $user.qr neq ''}<img src="{$user.qr}" alt="" width="100px;" height="100px;">{else} 无分享二维码 {/if}
                                        </td>
                                        {/if}
                                    </tr>
                                    {if $user.real_name neq ''}
                                    <tr>
                                        <td class="col-sm-2">真实姓名:</td>
                                        <td >{$user.real_name}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                    <tr>
                                        <td>注册时间:</td>
                                        <td>
                                            {$user.reg_time|date='Y-m-d H:i:s',###}
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">会员类型:</td>
                                        <td >
                                            {$users_type[$user['users_type']]['name']}{if $user.users_type eq '2'}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('beautydetail',array('id'=>$user['user_id']))}">美容院资料</a>{/if}
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {if $user.mobile neq ''}
                                    <tr>
                                        <td>手机:</td>
                                        <td>
                                            <input type="text" class="form-control" name="mobile" value="{$user.mobile}">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                {/if}

                                <!--美容师详细信息-->
                                {if $user.users_type eq 3}
                                    <tr>
                                        <td class="col-sm-2">用户昵称:</td>
                                        <td >{$user.nickname}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>用户头像:</td>
                                        <td>
                                            {if $user.head_pic neq ''}<img src="{$user.head_pic}" alt="" width="100px;" height="100px;">{else} 无头像 {/if}

                                        </td>
                                        {if $user.nickname neq ''}
                                        <td>分享二维码</td>
                                        <td>
                                            {if $user.qr neq ''}<img src="{$user.qr}" alt="" width="100px;" height="100px;">{else} 无分享二维码 {/if}
                                        </td>
                                        {/if}
                                    </tr>
                                    {if $user.real_name neq ''}
                                    <tr>
                                        <td class="col-sm-2">真实姓名:</td>
                                        <td >{$user.real_name}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                    <tr>
                                        <td>注册时间:</td>
                                        <td>
                                            {$user.reg_time|date='Y-m-d H:i:s',###}
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">会员类型:</td>
                                        <td >
                                            {$users_type[$user['users_type']]['name']}{if $user.users_type eq '2'}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('beautydetail',array('id'=>$user['user_id']))}">美容院资料</a>{/if}
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {if $user.mobile neq ''}
                                    <tr>
                                        <td>手机:</td>
                                        <td>
                                            <input type="text" class="form-control" name="mobile" value="{$user.mobile}">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                {/if}

                                <!--顾客详细信息-->
                                {if $user.users_type eq 4}
                                    <tr>
                                        <td class="col-sm-2">用户昵称:</td>
                                        <td >{$user.nickname}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>用户头像:</td>
                                        <td>
                                            {if $user.head_pic neq ''}<img src="{$user.head_pic}" alt="" width="100px;" height="100px;">{else} 无头像 {/if}

                                        </td>
                                        {if $user.nickname neq ''}
                                        <td>分享二维码</td>
                                        <td>
                                            {if $user.qr neq ''}<img src="{$user.qr}" alt="" width="100px;" height="100px;">{else} 无分享二维码 {/if}
                                        </td>
                                        {/if}
                                    </tr>
                                    {if $user.real_name neq ''}
                                    <tr>
                                        <td class="col-sm-2">真实姓名:</td>
                                        <td >{$user.real_name}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                    <tr>
                                        <td>注册时间:</td>
                                        <td>
                                            {$user.reg_time|date='Y-m-d H:i:s',###}
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {if $user.present_weight neq ''}
                                    <tr>
                                        <td>目前体重:</td>
                                        <td>
                                            {$user.present_weight}&nbsp;kg
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                    {if $user.target_weight neq ''}
                                    <tr>
                                        <td>目标体重:</td>
                                        <td>
                                            {$user.target_weight}&nbsp;kg
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                    {if $user.mobile neq ''}
                                    <tr>
                                        <td>手机:</td>
                                        <td>
                                            <input type="text" class="form-control" name="mobile" value="{$user.mobile}">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                    <tr>
                                        <td class="col-sm-2">会员类型:</td>
                                        <td >
                                            <select name="users_type">
                                                <option value="">请选择会员类型</option>
                                                {volist name="data" id="ut"}
                                                <option value="{$ut.id}" {if $user.users_type eq $ut.id} selected {/if}>{$ut.name}</option>
                                                {/volist}
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {/if}

                                <tr>
                                    <td>是否有分销权限:</td>
                                    <td>
                                        <input name="is_distribut" type="radio" value="1" {if condition="$user['is_distribut'] eq 1"}checked{/if} >有
                                        <input name="is_distribut" type="radio" value="0" {if condition="$user['is_distribut'] eq 0"}checked{/if} >没有
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <table  class="table table-bordered">

                                        <tr>
                                            <td>用户余额:</td>
                                            <td>{$user.user_money}</td>
                                            <td>累积分佣金额:</td>
                                            <td>{$user.distribut_money}</td>
                                        </tr>
                                        {if $user.users_type eq 1}
                                        <tr>
                                            <td>上级推荐人</td>
                                            <td>
                                                天一美膳(公司)
                                            </td>
                                            <td>下级美容院数</td>
                                            <td><a href="{:url('index',array('users_type'=>2,'staff_id'=>$user['user_id']))}">{$count}</a></td>
                                        </tr>
                                        {/if}
                                        {if $user.users_type eq 2}
                                        <tr>
                                            <td>上级推荐人id</td>
                                            <td>
                                                {if condition="$user['staff_id'] gt 0"}
                                                    <a href="{:url('detail',array('id'=>$user['staff_id']))}">{:get_nickname($user.staff_id)}</a>
                                                {else}
                                                    无
                                                {/if}
                                            </td>
                                            <td>下级美容师数</td>
                                            <td><a href="{:url('index',array('users_type'=>3,'beauty_id'=>$user['user_id']))}">{$count}</a></td>
                                        </tr>
                                        {/if}
                                        {if $user.users_type eq 3}
                                        <tr>
                                            <td>上级推荐人id</td>
                                            <td>
                                                {if condition="$user['beauty_id'] gt 0"}
                                                    <a href="{:url('detail',array('id'=>$user['beauty_id']))}">{:get_nickname($user.beauty_id)}</a>
                                                {else}
                                                    无
                                                {/if}
                                            </td>
                                            <td>下级顾客数</td>
                                            <td><a href="{:url('index',array('users_type'=>4,'beautician_id'=>$user['user_id']))}">{$count}</a></td>
                                        </tr>
                                        {/if}

                                        {if $user.users_type eq 4}
                                        <tr>
                                            <td>上级推荐人id</td>
                                            <td>
                                                {if condition="$user['customer_id'] gt 0"}
                                                    <a href="{:url('detail',array('id'=>$user['customer_id']))}">{:get_nickname($user.customer_id)}</a>
                                                {else}
                                                    {if condition="$user['beautician_id'] gt 0"}
                                                        <a href="{:url('detail',array('id'=>$user['beautician_id']))}">{:get_nickname($user.beautician_id)}</a>
                                                    {else}
                                                        无
                                                    {/if}
                                                {/if}
                                            </td>
                                            <td>推荐顾客数</td>
                                            <td>
                                                {if condition="$user['customer_id'] gt 0"}
                                                    {if condition="$count gt 0"}
                                                        <a href="{:url('index',array('users_type'=>4,'customer_id'=>$user['user_id']))}">{$count}</a>
                                                    {else}
                                                        无
                                                    {/if}
                                                {else}
                                                    {if condition="$count gt 0"}
                                                        <a href="{:url('index',array('users_type'=>4,'customer_id'=>$user['user_id']))}">{$count}</a>
                                                    {else}
                                                        无
                                                    {/if}
                                                {/if}

                                            </td>
                                        </tr>
                                        {/if}
                                    </table>
                                </tr>



                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="" class="btn btn-info">
                                            <i class="ace-icon fa fa-check bigger-110"></i> 保存
                                        </button>
                                        <a href="{:url('member/index')}" data-toggle="tooltip" title="" class="btn btn-default pull-right" data-original-title="返回"><i class="fa fa-reply"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>

                    </div>
                </div>
            </div>
        </div>    <!-- /.content -->
    </section>
</div>
<script>

</script>

</body>
{/block}