{extend name="public/base"/}
{block name="body"}
<div class="wrapper">
    <section class="content">
    <div class="row">
      <div class="col-xs-12">
      	<div class="box">
            <!--订单基本信息-->
            <div class="panel panel-default">
                <div class="panel-heading" style="border: 0;">
                    <h3 class="panel-title text-center" style="border: 0;">订单信息</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>订单id</td>
                            <td>订单号</td>
                            <td>订单金额</td>
                            <td>订单 状态</td>
                            <td>下单时间</td>
                            <td>支付时间</td>
                            <td>商品名称</td>
                            <td>商品价格</td>
                        </tr>
                        <tr>
                            <td>{$order.order_id}</td>
                            <td>{$order.order_sn}</td>
                            <td>{$order.order_price}</td>
                            <td id="order-status">{$order_status[$order['order_status']]} / {$pay_status[$order['pay_status']]}</td>
                            <td>{$order.add_time|date='Y-m-d H:i',###}</td>
                            <td>{if condition="$order.pay_time neq 0"}
                                    {$order.pay_time|date='Y-m-d H:i',###}
                             {else/}
                                未支付
                             {/if}
                            </td>
                            <td>{$order.goods_name}</td>
                            <td>{$order.goods_price}</td>
                        </tr>
                        <tr>
                            <td>公司员工推荐人</td>
                            <td>佣金</td>
                            <td>美容院推荐人</td>
                            <td>佣金</td>
                            <td>美容师推荐人</td>
                            <td>佣金</td>
                            {if $order.customer_id gt 0}
                            <td>顾客推荐人</td>
                            {/if}
                            {if $order.customer_id_commission gt 0}
                            <td>佣金</td>
                            {/if}
                        </tr>
                        <tr>
                            <td><a href="{:url('member/detail',array('id'=>$order.staff_id))}">{:get_nickname($order.staff_id)}</a></td>
                            <td>{$order.staff_id_commission}</td>
                            <td><a href="{:url('member/detail',array('id'=>$order.beauty_id))}">{:get_nickname($order.beauty_id)}</a></td>
                            <td>{$order['beauty_id_commission']}</td>
                            <td><a href="{:url('member/detail',array('id'=>$order.beautician_id))}">{:get_nickname($order.beautician_id)}</a></td>
                            <td>{$order.beautician_id_commission}</td>
                            {if $order.customer_id gt 0}
                                <td><a href="{:url('member/detail',array('id'=>$order.customer_id))}">{:get_nickname($order.customer_id)}</a></td>
                            {/if}
                            {if $order.customer_id_commission gt 0}
                                <td>{$order.customer_id_commission}</td>
                            {/if}
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!--订单基本信息-->
            <div class="panel panel-default">
                <div class="panel-heading" style="border: 0;">
                    <h3 class="panel-title text-center" style="border: 0;">会员信息</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td width="120px">微信头像</td>
                            <td>微信昵称</td>
                            <td>真实姓名</td>
                            <td>手机号</td>
                            <td>目前体重</td>
                            <td>目标体重</td>
                        </tr>
                        <tr>
                            <td><img src="{$userinfo.head_pic}" alt="" width="120px"></td>
                            <td><a href="{:url('member/detail',array('id'=>$order.user_id))}" target="_blank">{:get_nickname($order.user_id)}</a></td>
                            <td>{$userinfo.real_name|default='无'}</td>
                            <td>{$userinfo.mobile|default='无'}</td>
                            <td>{$userinfo.present_weight|default='无'}</td>
                            <td>{$userinfo.target_weight|default='无'}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
	  </div>
    </div> 
   </section>
</div>
</body>
<script>
function pay_cancel(obj){
    var url =  $(obj).attr('data-url');
    layer.open({
        type: 2,
        title: '退款操作',
        shadeClose: true,
        shade: 0.8,
        area: ['45%', '50%'],
        content: url, 
    });
}
//取消付款
function pay_callback(s){
	if(s==1){
		layer.msg('操作成功', {icon: 1});
		layer.closeAll('iframe');
		location.href =	location.href;
	}else{
		layer.msg('操作失败', {icon: 3});
		layer.closeAll('iframe');
		location.href =	location.href;
	}
}
</script>
{/block}